// Breakpoints
$mobile: 768px;
$desktop_xsm: 980px;
$desktop_sm: 1080px;
$desktop_md: 1280px;

// Common Variables
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

// Colors
$dark: #242536;
$dark-grey: #92929d;
$darkest-grey: #70707b;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$blue: #282b57;
$red: #d73b3b;
$red-dark: #c62a2a;

// Colors Tags
$pasta: #d73b3b;
$meat: #30201e;
$combos: #e6c864;
$vegan: #80aa40;
